{% extends 'base.html' %}
{% load static %}
{% block content %}

{% block scripts %}
<script src="{% static 'js/quiz.js' %}" defer></script>
{% endblock scripts %}

<div class="container mt-5" style="margin-bottom: 100px;">
    <div class="row">
        <div class="col-lg-12">
            <h4>{{ quiz.title | title }}</h4>
            <p class="lead">
                <strong>Your Score:</strong> {{result}} %
            </p>
            
            <p style="color: gray; font-size: 10px;">
                Number Of Questions: {{ quiz.numberOfQuestions }}<br>
                Pass Score: {{ quiz.passScore }}%
                
            </p>

            
            
            
            <form method="POST" id="quiz-form" class="">
                {% csrf_token %}
                <div id="quiz-box">
                    
                </div>

                <button type="submit" class="btn btn-primary" id="submitBtn" style="margin-top: 50px;">Submit</button>
            </form>
            <div id="score-box"></div>
            <div id="result-box"></div>
        </div>
    </div>

    


    

</div>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            
        </div>
    </div>
</div>


<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-lg-12">
            <p>
                return to <a href="{% url 'main:section' pk=enrol.pk id=subject.id sectionSlug=section.slug %}">{{quiz.section.title}}</a>
            </p>
        </div>
    </div>

</div>
<style>

    
</style>



{% endblock %}