{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">

    {% block title %} <title>MERCY . | Learning Platform.</title> {% endblock %}

    <link rel="stylesheet" href="{% static 'core.css' %}" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'icon/font-awesome.min.css' %}" />
    <script src="{% static 'jquery/jquery.js' %}"></script>
    


</head>

<body>
    {% block content %}

    {% endblock %}
</body>

<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'jquery/jquery.js' %}"></script>

</html>