{% extends 'base.html' %}

{% block content %}

<div class="container-fluid footer">
    <div class="row">
        <div class="col-lg-12">
            <p class="pt-5" style="font-weight: bolder; font-size: 14px">MERCY . &copy 2021</p>
        </div>


        
        <div class="col-lg-12 text-right mb-3">
            <p class="pt-3 text-right" style="font-size: 10px;">
                version: 1.0 | property of MERCY EARLY LEARNING CENTER, a non-profit organization.
            </p>
        </div>
    </div>
</div>


<style>
    
    .footer {
        color: #000;
        background: #fff;
    }
</style>

{% endblock %}